API_KEY=
CLIENT_CODE=
MPIN=
TOTP_SECRET=

DATABASE_URL=sqlite:///./excel_trades.db
MAX_ORDERS_PER_UPLOAD=20
DRY_RUN=True

INSTRUMENTS_URL=https://margincalculator.angelbroking.com/OpenAPI_File/files/OpenAPIScripMaster.json
UPLOAD_DIR=uploads
EXCEL_TRADE_LOG_PATH=logs/excel_trade.log
